html {
    font-family: "Monaco", sans-serif;
}

body {
    color: teal;
    font-weight: 100;
    max-width: 50rem;
    margin: 0 auto;
}

div:focus {
    outline: none; 
}

#heading {
    font-size: 48px;
    padding-top: 30px;
}

#content {
    padding-top: 10px;
    font-size: 24px;
}

